################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Cppture/Debug
/Cppture/GeneratedFiles/Debug/moc_AboutDialog.cpp
/Cppture/GeneratedFiles/Debug
/Cppture/GeneratedFiles/Release
/Cppture/GeneratedFiles
/Cppture/Release
/Win32/Debug
/Win32/Release
/.vs/Cppture/v15
